body{
      background-color : #d2f6fc;
      color: black;
      font-size: 1.5rem;
}

h1{
      font-family: 'Black Ops One', cursive;
      font-size: 3rem;
      margin-bottom: 0px;

}

header, main, nav, footer{
      text-align: center;
}

nav a{
      padding: 15px;
      padding-bottom: 4px;
      font-size: 1.5rem;
      text-decoration: none; /*remove underline*/
      color: #213e3b;
}

nav a:hover{
      border-bottom: 2px #19d3da solid;
      font-size: 2rem;
      transition: .10s; /*transition effect*/
}

nav .home{
      color: #3e64ff;
}

nav .about{
      color: #3e64ff;
}

nav .contact{
      color: #3e64ff;
}

main{
      display: flex;
      text-align: left;
      justify-content: center;
}

#content{
      text-align: center;
      justify-content: center;
}

table{
      margin: 0px auto;
}

td {
      padding-right: 20px;
      font-size: 1.3rem;
}

td strong{
      color: black;
}

#table-header{
      background-color: #4f81c7;
}

.table-row{
      background-color: #64c4ed;
}

ol{
      width: 500px;
      margin: 0 auto;
      text-align: left;
}

ul{
      width: 500px;
      margin: 0 auto;
      text-align: left;
}

.hobby{
      color: #1f3c88;
}

footer{
      font-size: 14px;
      color: #1f3c88;
}
